* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html body {
    height: 100%;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0 !important;
}


/* Init of login page */

.blur {
    position: absolute;
    z-index: 2;
    background-color: #FEB900;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
}

.login {
    position: relative;
    z-index: 4;
    width: 500px;
    margin: 0 auto;
    margin-top: 170px;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.8);
}

.welcome {
    text-align: center;
}

.welcome img {
    width: 180px;
}

.welcome h2 {
    font-size: 22px;
    font-weight: 400;
    color: #FEB900;
}

.login input {
    width: 100%;
    display: block;
    height: 26px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #1e1e1e;
    color: #0e0e0e;
    padding-left: 3px;
}

.login p {
    font-size: 15px;
    padding: 10px 0 2px 0;
    color: #FEB900;
}

.login form {
    display: flex;
    flex-wrap: wrap;
}

.login form a {
    width: 85%;
    display: block;
    margin-top: 15px;
    color: #0e0e0e;
}

.login input[type=submit] {
    width: 15%;
    display: block;
    height: 26px;
    border: 0;
    padding: 5px 0;
    margin-top: 15px;
    background-color: #FEB900;
    color: #1e1e1e;
    border-radius: 5%;
}

/* End of login page */


/* Init of cadastrar-servico page */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px 2%;
    background-color: #7d7c7c;
    align-items: center;
}

header .logo {
    width: 50%;
}

header .logo img {
    width: 180px;
}

header .user {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: left;
    align-items: center;
    color: #f0f0f0;
}

header .user .image img {
    width: 55px;
}

header .user .logado {
    text-align: center;
    margin-right: 8px;
}

header .user .logado p {
    font-size: 14px;
}

header .user .logado h2 {
    font-size: 15px;
}


section.content {
    display: flex;
    flex-wrap: wrap;
}


section.content .menu {
    padding: 20px 0;
    background-color: #6a6a6a;
    color: #f0f0f0;
    padding-bottom: 31px;
    width: 20%;
}

.menu nav {
    margin: 20px 0;
    border-top: 2px solid #f0f0f0;
}

.menu nav h2 {
    font-size: 14px;
    margin: 15px 10px;
}

.menu nav ul {
    list-style-type: none;
}

.menu nav ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu nav ul li img {
    width: 20px;
    margin-right: 5px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: normal;

}


section.content .cadastro {
    width: 80%;
    padding: 20px 2%;
    background-color: #f0f0f0;
}

.cadastro h2 {
    font-size: 26px;
}

.cadastro .form-container {
    margin-top: 15px;
    width: 100%;
}

.form-container label {
    font-size: 14px;
    display: block;
    margin-top: 15px;
    font-weight: 300;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
    width: 100%;
    border: 0;
    height: 26px;
    margin-top: 5px;
    border-bottom: 1px solid #6a6a6a;
    color: #1e1e1e;
    padding-left: 4px;
    background-color: transparent;
}

.form-container textarea {
    resize: none;
    height: 52px;
}

.botao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.form-container input[type="submit"] {
    font-size: 18px;
    border: 0;
    background-color: #333333;
    color: #f0f0f0;
    padding: 6px;
    width: 120px;
    margin: 15px 0;
    cursor: pointer;
}

.form-container h2 {
    font-size: 20px;
    margin-top: 30px;
    padding-top: 6px;
    border-top: 4px solid #1e1e1e;
}

section.content .menu nav ul li.selected {
    background-color: #333333;
}